{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

    <tr>
    <td>
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="#" onclick="return false;">{{ title }}</a>
      {% else %}
        <a href="#" onclick="return false;">{{ title }}</a>
      {% endif %}
    </h3>
    {% if post.authors%}{{ post.authors }}{% endif %}
    <p> 
    {% if post.comments%}{{ post.comments }}{% endif %}
    </p>
    <p> 
    {% if post.venue%}<span style="font-style:italic">{{ post.venue }}</span> {% endif %}
    {% if post.date %}{{ post.date | default: "1900-01-01" | date: "%Y" }}{% endif %}
    [{% if post.bibtex%} <a href="{{ post.bibtex }}"> BibTex </a>{% endif %}
     {% if post.pdf%} | <a href="{{ post.pdf }}"> PDF </a>{% endif %}
     {% if post.project%} | <a href="{{ post.project }}"> Project </a>{% endif %} 
	 {% if post.arxiv%} | <a href="{{ post.arxiv }}"> ArXiv </a>{% endif %} 
    ]    
    </p>
      </td>
      <td style="text-align: center; vertical-align: middle;" > 
      {% if post.teaser %} 
        <img style="display:block;" width="70%" src="{{post.teaser}}" /> 
      {% endif %}
      </td>
    </tr>